@media ( min-width : 768px) {
	
	.col-md-12 {
		position: relative;
		min-height: 1px;
		padding-left: 15px;
		padding-right: 15px;
	}
	@media ( min-width : 768px) {
		.col-md-12 {
			
			width: 100%;
		}
	}
	@media ( min-width : 1025px) {
		.col-md-12 {
			
			width: 100%;
		}
	}
	.blog-post-item-list .post-name a {
		font-size: 24px;
	}
	.blog-post-item-list .ver-list .post-date {
		float: left;
	}
	.blog-post-item-list .blog-post-item.v2 {
		margin-bottom: 0;
		border-bottom: 1px solid #efefef;
		padding-bottom: 38px;
	}

	}
}

.pagination {
	display: inline-block;
}

.pagination a {
	color: black;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
	background-color: #4CAF50;
	color: white;
}
.pagination
 
a
:hover
:not
 
(
.active
 
)
{
background-color
:
 
#ddd
;


}